* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

footer {
    background-color: #001a33;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-top: auto;
    padding: 12px;
}

#p {
    font-size: 28px;
    color: #1f7a7a;
    font-weight: normal;
    margin-bottom: 23px;
    font-family: "Karla", sans-serif;
}

.input {
    color: grey;
    float: left;
}

input {
    margin-top: 10px;
}







