* {
    margin: 0px;
    padding: 0px;
    /*font-family: 'Inria Sans', sans-serif;*/
    /*font-family: Pussycat, Algerian, Broadway;*/
    user-select: none;
}

/* footer {
    background-color: #001a33;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-top: auto;
    padding: 12px;
} */