{% extends 'base.html' %}
{% load static %}
{% block title %}   Set New Password {% endblock title %}

{% block head %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/change-password.css' %}">
{% endblock head %}

{% block body %}

<div class='w3-container' id='mobi' style="margin-left:auto;margin-right:auto;">
    <center>
        <div class="w3-container">
            <img src="{% static 'img/gogo_logo2.jpg' %}" alt='logo' class="w3-circle">
                <h1 style='color: #1f7a7a;'>Set New Password</h1>
        
        </div>

        <!-- FORM -->
        <br>
        <div class="w3-container" style='max-width: 962px;'>
        
            <div class="col-md-4" style="font-weight: bold; letter-spacing:1px;word-spacing: 2px;">
            <form method="POST" action="">
                {% csrf_token %}
				<div id="msg" style="text-align: center;color: white; background-color:#ffb3b3;border-radius: 8px;">
                    {% for msg in messages %}
                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    {{ msg }}
                    {% endif %}
                    {% endfor %}</div>
                <div id="msg" style="text-align: center;color: white; background-color:#339966;border-radius: 8px;">
                    {% for msg in messages %}
                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    {{ msg }}
                    {% endif %}
                    {% endfor %}</div>
                <span class="input"> Sceret Key: </span>
                <input type="text" class="form-control" id="validationDefault01"  name='secret_key' placeholder="Sceret Key" required><br>
                <span class="input"> Password: </span>
                <input type="text" class="form-control" id="validationDefault01" name='new_password'  placeholder="Password" required><br>
				<span class="input">Confirm Password: </span>
                <input type="text" class="form-control" id="validationDefault01" name='confirm_password'  placeholder="Confirm Password" required>
                
                <input type="hidden" name="user" value="{{data}}">

                <input name="changepassword" style="float:left;" id="changepassword" class="btn btn-success" type="submit" value="Set Password">
            </form>
            </div>
        </div>
    </center>
</div><br><br><br><br>
{% endblock body %}
