{% load static %}
<!DOCTYPE html>
<html>

    <body>

        <div style="margin-left: 20%; width: 75%;">
                    <div>
                        <img src="https://source.unsplash.com/1600x900/?note" width="24px" height="22px" >
                    <span style="color:#336699 ; font-weight:bold;  "><b><strong> GOGO NOTES </strong></b></span></div>
                    <br><br>
                    <p>
                    <b>Hey {{user_name}}</b><br><br>

                    <b>Password Reset Link!</b><br><br>
            
                    click on the link/Button below to reset your password
                    <button type="button" style="font-size:17px ; border-radius: 10px; width: 160px; height: 40px; background-color: #54a93f;" ><a href="https://gogo-note.azurewebsites.net/change-password/{{token}}/"
                            style="width:540px; height:80px; color:white;"> Reset Password</a></button> <br><br>
               
                    You haven't signed up on our site? Then probably someone has entered their email address incorrectly.<br><br>
                
                    Best regards,
                    your GogoNotes-Team<br><br>
                    Web: www.gogo.notes.com
                </p>

        </div>

    </body>
        
</html>
